## 2025/11/18 | In-Lecture "Date" With A Random Dataset

In [1]:
import pandas as pd

Let's load a random dataset which we found about beer &#8594; we have no idea about this data, but let's load it and find out ...

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/deeptink/Craft-Beer-Breweries-US-Market-Research/refs/heads/master/Analysis/Data/Beers_Type.csv")

First, let's just print what is in here:

In [3]:
df

,Name,Beer_ID,ABV,IBU,Brewery_id,Style,Ounces,Type
0,Pub Beer,1436,0.050,NaN,409,American Pale Lager,12.0,Lager
1,Devil's Cup,2265,0.066,NaN,178,American Pale Ale (APA),12.0,APA
2,Rise of the Phoenix,2264,0.071,NaN,178,American IPA,12.0,IPA
3,Sinister,2263,0.090,NaN,178,American Double / Imperial IPA,12.0,IPA
4,Sex and Candy,2262,0.075,NaN,178,American IPA,12.0,IPA
...,...,...,...,...,...,...,...,...
2405,Belgorado,928,0.067,45.0,425,Belgian IPA,12.0,IPA
2406,Rail Yard Ale,807,0.052,NaN,425,American Amber / Red Ale,12.0,Other Ale
2407,B3K Black Lager,620,0.055,NaN,425,Schwarzbier,12.0,Other
2408,Silverback Pale Ale,145,0.055,40.0,425,American Pale Ale (APA),12.0,APA
2409,Rail Yard Ale (2009),84,0.052,NaN,425,American Amber / Red Ale,12.0,Other Ale

Now what columns are there (we can obviously see them all, since there are so few, but what if there were 20, 30 or even 100 columns?):

In [4]:
df.columns

Index(['Name', 'Beer_ID', 'ABV', 'IBU', 'Brewery_id', 'Style', 'Ounces',
       'Type'],
      dtype='object')

I am looking for the highest ABV beer ...

I am definitely interested in `ABV`, since my hunch is that it is "Alcohol By Volume":

In [5]:
df.loc[:,['Name', 'ABV']]

                      Name    ABV
0                 Pub Beer  0.050
1              Devil's Cup  0.066
2      Rise of the Phoenix  0.071
3                 Sinister  0.090
4            Sex and Candy  0.075
...                    ...    ...
2405             Belgorado  0.067
2406         Rail Yard Ale  0.052
2407       B3K Black Lager  0.055
2408   Silverback Pale Ale  0.055
2409  Rail Yard Ale (2009)  0.052

[2410 rows x 2 columns]

So what if we sort the `ABV`:

In [6]:
df.loc[:,['Name', 'ABV']].sort_values(by='ABV')

                                  Name    ABV
2266                       Scotty K NA  0.001
1074                    Totally Radler  0.027
769                        Bikini Beer  0.027
2394                       Summer Brew  0.028
2027                    American Light  0.032
...                                ...    ...
2186            Cornstalker Dark Wheat    NaN
2337                    West Sixth IPA    NaN
2345                       Royal Lager    NaN
2347                  O’Malley’s Stout    NaN
2349  O’Malley’s Irish Style Cream Ale    NaN

[2410 rows x 2 columns]

Notice this is sorted _smallest_ to _largest_ and then there are a ton of `NaN` perhaps indicating there are values missing this data.

We might like to sort it by _largest_ to _smallest_ so our beer friend who likes a more hard hitting drink can have a few choices :):

In [7]:
df.loc[:,['Name', 'ABV']].sort_values(by='ABV', ascending=False)

                                                   Name    ABV
2278  Lee Hill Series Vol. 5 - Belgian Style Quadrup...  0.128
70                                       London Balling  0.125
2189                                               Csar  0.120
2279   Lee Hill Series Vol. 4 - Manhattan Style Rye Ale  0.104
1857                                             4Beans  0.100
...                                                 ...    ...
2186                             Cornstalker Dark Wheat    NaN
2337                                     West Sixth IPA    NaN
2345                                        Royal Lager    NaN
2347                                   O’Malley’s Stout    NaN
2349                   O’Malley’s Irish Style Cream Ale    NaN

[2410 rows x 2 columns]

Now we can also use boolean operators to get the entire Data

In [8]:
df['ABV'] >= 0.10

0       False
1       False
2       False
3       False
4       False
        ...
2405    False
2406    False
2407    False
2408    False
2409    False
Name: ABV, Length: 2410, dtype: bool

Now if we combine this with the fact that we can use the boolean operator as a selector:

In [9]:
df[ df['ABV'] >= 0.10 ]

,Name,Beer_ID,ABV,IBU,Brewery_id,Style,Ounces,Type
70,London Balling,2685,0.125,80.0,2,English Barleywine,16.0,Other
1857,4Beans,2574,0.100,52.0,47,Baltic Porter,12.0,Other
2189,Csar,2621,0.120,90.0,18,Russian Imperial Stout,16.0,Other
2278,Lee Hill Series Vol. 5 - Belgian Style Quadrup...,2565,0.128,NaN,52,Quadrupel (Quad),19.2,Other
2279,Lee Hill Series Vol. 4 - Manhattan Style Rye Ale,2564,0.104,NaN,52,Rye Beer,19.2,Other

**CURIOSITY**: What ounce amounts are represented in the dataset, we can see some 12 ounces, and 16, but what are their quantities?

In [10]:
df.loc[:,['Ounces']].value_counts()

Ounces
12.0      1525
16.0       841
24.0        22
19.2        15
32.0         5
8.4          1
16.9         1
Name: count, dtype: int64

What if we want their percentages?  We know there are 2410 items in the dataset, so might we just divide by that?

In [11]:
df.loc[:,['Ounces']].value_counts() / 2410

Ounces
12.0      0.632780
16.0      0.348963
24.0      0.009129
19.2      0.006224
32.0      0.002075
8.4       0.000415
16.9      0.000415
Name: count, dtype: float64

We can also get the same number from the `.shape` tuple:

In [12]:
df.shape # the dimensions of the df as a tuple

(2410, 8)

In [13]:
df.shape[0] # the first element of the tuple

2410

In [14]:
df.loc[:,['Ounces']].value_counts() / df.shape[0]

Ounces
12.0      0.632780
16.0      0.348963
24.0      0.009129
19.2      0.006224
32.0      0.002075
8.4       0.000415
16.9      0.000415
Name: count, dtype: float64

Say we have a friend who puts the following challenge out to you testing 
your data sleuthing abilities:

* Give me the top 5 highest alcohol content beers, and I will pay you $10.

Little does our friend know, this is very easy to obtain ...

In [15]:
## broken with \ at the end of the lines for reability
df.loc[:,['Name', 'ABV']] \
    .sort_values(by='ABV', ascending=False) \
    .query('ABV >= 0.10')

                                                   Name    ABV
2278  Lee Hill Series Vol. 5 - Belgian Style Quadrup...  0.128
70                                       London Balling  0.125
2189                                               Csar  0.120
2279   Lee Hill Series Vol. 4 - Manhattan Style Rye Ale  0.104
1857                                             4Beans  0.100

Because we anticipate out friend my up the wager if we know
what type of beers these are, we're going to include that column
in our output:

In [16]:
df.loc[:,['Name', 'ABV', 'Type']].sort_values(by='ABV', ascending=False).query('ABV >= 0.10')

                                                   Name    ABV   Type
2278  Lee Hill Series Vol. 5 - Belgian Style Quadrup...  0.128  Other
70                                       London Balling  0.125  Other
2189                                               Csar  0.120  Other
2279   Lee Hill Series Vol. 4 - Manhattan Style Rye Ale  0.104  Other
1857                                             4Beans  0.100  Other

Which now leads us to ask the question, what are the 
types of beers that appear in the dataset and what
are their frequencies:

In [17]:
df.loc[:,['Type']]

           Type
0         Lager
1           APA
2           IPA
3           IPA
4           IPA
...         ...
2405        IPA
2406  Other Ale
2407      Other
2408        APA
2409  Other Ale

[2410 rows x 1 columns]

`value_counts()` gets us what we need:

In [18]:
df.loc[:,['Type']].value_counts()

Type
Other Ale    718
Other        718
IPA          571
APA          245
Lager        158
Name: count, dtype: int64

This is nice, it seems like "Other" beers dominate our dataset, why might this be???

### ANALYZING 16OZ BEERS

Say we want to know everything we can
about the 16oz beers in our dataset ...

In [19]:
df.query('Ounces == 16')

,Name,Beer_ID,ABV,IBU,Brewery_id,Style,Ounces,Type
50,Galaxyfest,2603,0.065,NaN,28,American IPA,16.0,IPA
51,Citrafest,2602,0.050,45.0,28,American IPA,16.0,IPA
52,Barn Yeti,2220,0.090,NaN,28,Belgian Strong Dark Ale,16.0,Other Ale
53,Scarecrow,2219,0.069,65.0,28,American IPA,16.0,IPA
54,Ironman,2218,0.090,50.0,28,English Strong Ale,16.0,Other Ale
...,...,...,...,...,...,...,...,...
2377,Wyoming Pale Ale,324,0.072,NaN,551,American Pale Ale (APA),16.0,APA
2378,Wind River Blonde Ale,323,0.050,NaN,551,American Blonde Ale,16.0,Other Ale
2379,Ace IPA,762,0.074,83.0,510,American IPA,16.0,IPA
2380,P-51 Porter,761,0.080,31.0,510,American Porter,16.0,Other
2395,Be Hoppy IPA,1697,0.065,69.0,340,American IPA,16.0,IPA

Now what is the average `ABV` of these beers:

In [20]:
df.query('Ounces == 16').loc[:,'ABV'].mean()

np.float64(0.06250304506699147)

How does this compare with the 12 ounce beers?

In [21]:
df.query('Ounces == 12').loc[:,'ABV'].mean()

np.float64(0.05793396226415094)

One question we should always ask on 
out "Data Date" is:

* are there any duplicates in the data?

In general, this is always a good thing to know -- especially if
uniqueness is important in our analysis (sometimes duplicate data is
**not** a problem).

In [22]:
df.drop_duplicates()

,Name,Beer_ID,ABV,IBU,Brewery_id,Style,Ounces,Type
0,Pub Beer,1436,0.050,NaN,409,American Pale Lager,12.0,Lager
1,Devil's Cup,2265,0.066,NaN,178,American Pale Ale (APA),12.0,APA
2,Rise of the Phoenix,2264,0.071,NaN,178,American IPA,12.0,IPA
3,Sinister,2263,0.090,NaN,178,American Double / Imperial IPA,12.0,IPA
4,Sex and Candy,2262,0.075,NaN,178,American IPA,12.0,IPA
...,...,...,...,...,...,...,...,...
2405,Belgorado,928,0.067,45.0,425,Belgian IPA,12.0,IPA
2406,Rail Yard Ale,807,0.052,NaN,425,American Amber / Red Ale,12.0,Other Ale
2407,B3K Black Lager,620,0.055,NaN,425,Schwarzbier,12.0,Other
2408,Silverback Pale Ale,145,0.055,40.0,425,American Pale Ale (APA),12.0,APA
2409,Rail Yard Ale (2009),84,0.052,NaN,425,American Amber / Red Ale,12.0,Other Ale

Whew, looks like there isn't any duplicate data.

Now consider of we want to count all the 
sizes of beers and their types:

In [23]:
df.loc[:,['Ounces', 'Type']].value_counts()

Ounces  Type
12.0    Other Ale    451
        Other        427
        IPA          347
16.0    Other        278
        Other Ale    258
        IPA          211
12.0    APA          182
        Lager        118
16.0    APA           57
        Lager         37
24.0    IPA            8
        Other          6
19.2    Other Ale      5
        Other          4
24.0    Lager          3
19.2    IPA            3
        APA            3
24.0    Other Ale      3
32.0    IPA            2
24.0    APA            2
8.4     Other          1
16.9    Other          1
32.0    APA            1
        Other          1
        Other Ale      1
Name: count, dtype: int64

Cool!

Now another thing we might like to eliminate from our data are `NaN`
or "missing" data.

This is easily done with `dropna()`:

In [24]:
df.dropna()

,Name,Beer_ID,ABV,IBU,Brewery_id,Style,Ounces,Type
14,Bitter Bitch,1979,0.061,60.0,178,American Pale Ale (APA),12.0,APA
21,Lower De Boom,1036,0.099,92.0,369,American Barleywine,8.4,Other
22,Fireside Chat,1024,0.079,45.0,369,Winter Warmer,12.0,Other
24,Bitter American,876,0.044,42.0,369,American Pale Ale (APA),12.0,APA
25,Hell or High Watermelon Wheat (2009),802,0.049,17.0,369,Fruit / Vegetable Beer,12.0,Other
...,...,...,...,...,...,...,...,...
2398,Lights Out Vanilla Cream Extra Stout,1513,0.077,30.0,200,American Double / Imperial IPA,12.0,IPA
2399,Worthy IPA (2013),1512,0.069,69.0,200,American IPA,12.0,IPA
2400,Worthy Pale,1511,0.060,50.0,200,American Pale Ale (APA),12.0,APA
2405,Belgorado,928,0.067,45.0,425,Belgian IPA,12.0,IPA
2408,Silverback Pale Ale,145,0.055,40.0,425,American Pale Ale (APA),12.0,APA

Whoa -- this is a little problem!  
We lost nearly 1000 rows of data ... we might not
want to do this dropping if that's the case.

To resolve this, let's just **fill** all
`NaN` with 0.  This is getting more and more fun!

In [25]:
df.fillna(0)

,Name,Beer_ID,ABV,IBU,Brewery_id,Style,Ounces,Type
0,Pub Beer,1436,0.050,0.0,409,American Pale Lager,12.0,Lager
1,Devil's Cup,2265,0.066,0.0,178,American Pale Ale (APA),12.0,APA
2,Rise of the Phoenix,2264,0.071,0.0,178,American IPA,12.0,IPA
3,Sinister,2263,0.090,0.0,178,American Double / Imperial IPA,12.0,IPA
4,Sex and Candy,2262,0.075,0.0,178,American IPA,12.0,IPA
...,...,...,...,...,...,...,...,...
2405,Belgorado,928,0.067,45.0,425,Belgian IPA,12.0,IPA
2406,Rail Yard Ale,807,0.052,0.0,425,American Amber / Red Ale,12.0,Other Ale
2407,B3K Black Lager,620,0.055,0.0,425,Schwarzbier,12.0,Other
2408,Silverback Pale Ale,145,0.055,40.0,425,American Pale Ale (APA),12.0,APA
2409,Rail Yard Ale (2009),84,0.052,0.0,425,American Amber / Red Ale,12.0,Other Ale

We learned that IBU is the "International Beer
Units" and our friend is now so impressed with
out data sleuthing, they think that we
are going to get stumped if asked to find
the most bitter beers in the data ... not so
fast friend.

First, let's get the **mean** IBU across
our data:

In [26]:
df.loc[:,['IBU']].mean()

IBU    42.713167
dtype: float64

BUT this excludes all `NaN` data (which 
might well be desired).  What if we 
`fillna()` the data with 0 -- how does
this impact the mean?

In [27]:
df.fillna(0).loc[:,['IBU']].mean()

IBU    24.901245
dtype: float64

This is a BIG difference ...

Back to our friend's request to find the most bitter beers.

Here's the top 10:

In [28]:
df.nlargest(10, 'IBU')

,Name,Beer_ID,ABV,IBU,Brewery_id,Style,Ounces,Type
147,Bitter Bitch Imperial IPA,980,0.082,138.0,375,American Double / Imperial IPA,12.0,IPA
2390,Troopers Alley IPA,1676,0.059,135.0,345,American IPA,12.0,IPA
525,Dead-Eye DIPA,2067,0.090,130.0,231,American Double / Imperial IPA,16.0,IPA
594,Bay of Bengal Double IPA (2014),2440,0.089,126.0,100,American Double / Imperial IPA,12.0,IPA
2081,Abrasive Ale,15,0.097,120.0,62,American Double / Imperial IPA,16.0,IPA
2144,Heady Topper,1111,0.080,120.0,273,American Double / Imperial IPA,16.0,IPA
2145,Heady Topper,379,0.080,120.0,273,American Double / Imperial IPA,16.0,IPA
474,More Cowbell,2123,0.090,118.0,215,American Double / Imperial IPA,16.0,IPA
150,Hop A-Peel,2503,0.075,115.0,73,American Double / Imperial IPA,16.0,IPA
479,Hopkick Dropkick,2471,0.099,115.0,25,American Double / Imperial IPA,12.0,IPA

And just in case someone asks about the **least** bitter beers, here's that list:

In [29]:
df.nsmallest(10, 'IBU')

,Name,Beer_ID,ABV,IBU,Brewery_id,Style,Ounces,Type
106,Summer Solstice,1350,0.056,4.0,172,Cream Ale,12.0,Other Ale
112,Summer Solstice Cerveza Crema (2009),753,0.056,4.0,172,Cream Ale,12.0,Other Ale
117,Summer Solstice (2011),77,0.056,4.0,172,Cream Ale,12.0,Other Ale
171,Devils Tramping Ground Tripel,704,0.092,5.0,361,Tripel,12.0,Other
873,Yo Soy Un Berliner,2520,0.044,5.0,67,Berliner Weissbier,12.0,Other
961,Chickawawa Lemonale,1604,0.050,5.0,366,Fruit / Vegetable Beer,12.0,Other
1682,18th Anniversary Gose,2370,0.044,5.0,129,Gose,12.0,Other
2339,Westbrook Gose,1312,0.040,5.0,385,Gose,12.0,Other
114,Winter Solstice,523,0.069,6.0,172,Winter Warmer,12.0,Other
991,Mr. Blue Sky,2375,0.045,6.0,125,American Pale Wheat Ale,16.0,Other Ale

This is sooo fun.

And what's even more fun: we don't have to even **like** beer to build these analyses and maybe make a little $$ on the side being the main data
broker for the world's best beer sleuth :).

### Getting random data samples

In our last display of tricks, we'll show how to 
get random data samples.

Say we want 10 samples of random data:

In [30]:
df.sample(10) # easy enough

,Name,Beer_ID,ABV,IBU,Brewery_id,Style,Ounces,Type
741,Category 3 IPA,1685,0.061,64.0,341,American IPA,12.0,IPA
1163,Double Haul IPA (2006),758,0.065,65.0,511,American IPA,16.0,IPA
662,Aviator Raspberry Blonde,2293,0.049,25.0,170,American Blonde Ale,12.0,Other Ale
119,Charlie's Rye IPA,2337,0.060,NaN,147,American IPA,16.0,IPA
1486,Marblehead,1811,0.055,NaN,306,American Amber / Red Ale,16.0,Other Ale
1689,Firemans #4 Blonde Ale (2015),830,0.051,21.0,129,American Blonde Ale,12.0,Other Ale
1871,Brownstone,778,0.059,47.0,47,American Brown Ale,16.0,Other Ale
1268,Chaotic Double IPA,1674,0.099,93.0,347,American Double / Imperial IPA,12.0,IPA
2249,Workers Comp Saison,1170,0.048,NaN,436,Saison / Farmhouse Ale,12.0,Other Ale
674,Lost River Blonde Ale,1789,0.049,NaN,316,American Blonde Ale,16.0,Other Ale

And another 10 will get us another random sample ...

In [31]:
df.sample(10) # and if we get another 10

,Name,Beer_ID,ABV,IBU,Brewery_id,Style,Ounces,Type
2099,TailGate Hefeweizen,623,0.049,28.0,450,Hefeweizen,24.0,Other
223,Moar,2558,0.044,44.0,54,English India Pale Ale (IPA),12.0,IPA
2241,Testudo,1041,0.045,NaN,75,Bière de Garde,12.0,Other
1444,Ranger IPA,2230,0.065,70.0,83,American IPA,12.0,IPA
685,The Corruption,186,0.065,80.0,228,American IPA,12.0,IPA
1336,Solis,2667,0.075,85.0,4,American IPA,16.0,IPA
2043,Fistful of Hops Green,1996,0.064,75.0,26,American IPA,16.0,IPA
1815,Freestyle Pilsner,304,0.055,NaN,393,German Pilsener,12.0,Other
647,Chester's Beer (2005),737,0.038,NaN,513,American Pale Lager,12.0,Lager
1214,Pistols at Dawn,2330,0.075,NaN,150,American Stout,16.0,Other

Sometimes we might not want to specify the number of samples, but
rather a percent of the samples (like 25%).  This is very 
useful, for example, when we want to build _test_ and _training_
sets for models day ...

Easy enough:

In [32]:
df.sample(frac=0.25) # 25% of the data, in a random sample

,Name,Beer_ID,ABV,IBU,Brewery_id,Style,Ounces,Type
1830,Dry Hard Cider,1415,0.065,NaN,412,Cider,16.0,Other
1184,Longboard Island Lager,590,0.046,18.0,440,American Amber / Red Lager,12.0,Lager
1540,Celestial Blonde Ale,900,0.065,NaN,302,American Blonde Ale,16.0,Other Ale
1081,Nonstop Hef Hop,2394,0.039,20.0,81,American Pale Wheat Ale,16.0,Other Ale
1296,Blueberry Blonde Ale,773,0.050,12.0,300,American Blonde Ale,12.0,Other Ale
...,...,...,...,...,...,...,...,...
314,Kölsch 151,1408,0.049,16.0,415,Kölsch,12.0,Other
2313,White Magick of the Sun,1769,0.079,23.0,323,Witbier,12.0,Other
26,Hell or High Watermelon Wheat (2009),801,0.049,17.0,369,Fruit / Vegetable Beer,12.0,Other
1259,Festivus (1),1628,0.072,NaN,357,Winter Warmer,12.0,Other
1404,Cali Creamin',2413,0.052,21.0,112,Cream Ale,12.0,Other Ale

We are done!

$\Xi$